@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f82780;
  --color-secondary: #F3A712;
  --color-accent: #76B041;
  --color-neutral: #2C2C2C;
}
li a.active{
  background: #f82780;
  color:white ;
}
li a:hover{
  background: #f82780;
  color:white ;
}
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-8px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}
.font-poppins{
   font-family: "Poppins", sans-serif;
}
body{
     font-family: "Inter", sans-serif;
}
